body {
    background-color: #FAF9F6;
}

header {
    background-color: lightblue;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.grid-container {
   
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows: 1fr 1fr;
    
    
}

.gridItem{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.gridItem2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.flexitem { background-color: lightgray;
    padding: 20px;
    width: 150px;
    height: 150px;
}


