body {
    height: 1700px;
    background-color: aliceblue;
}
.searchCity {
    font-size: 25px;
    font-weight: 600;
}

main {
margin: 20px 20px;
height: 900px;
    
}

header {
    background-color: lightskyblue;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    border-bottom: black solid 2px;
    
}
h1 {
    font-size: 40px;
    font-weight: 900;
    text-shadow: grey 2px 2px 2px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    row-gap: 10px;
    column-gap: 10px;
    
}

.gridItem{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid  black;
}

.gridItem2 {
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    
}
.flex-container {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.flexitem { 
    background-color: lightgray;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridItem1{
    
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}



.city {
    font-size: 35px;
    font-weight: 600;
    text-shadow: white 2px 2px 2px;
    box-shadow: black 2px 2px 4px 4px;
}

#cityInput {
    background-color: transparent;
    border-radius: .3rem;
    border: black solid 2px;
}
#searchBtn {
    border: solid black 1px;
    border-radius: .5rem;
    cursor: pointer;
    
}

#searchBtn:hover {
    background-color: #00ADD8E6;
    border: black 1.5px solid;
}
::placeholder {
    color: gray;
  
}

.day {
    width: 500px;
    height: 200px;
    margin: 20px;
    background-color: aliceblue;
    border-radius: .3rem;
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;

}

.dayFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
